{
    "extends": "react-app",
    "parser": "@typescript-eslint/parser",
    "rules": {
      "semi": [
        1,
        "always"
      ],
      "quotes": [
        2,
        "single",
        {
          "avoidEscape": true
        }
      ],
      "no-unused-vars": "off",
      "no-prototype-builtins": "off",
      "no-redeclare": "off",
      "no-console": "off",
      "indent": "off",
      "react-hooks/exhaustive-deps": "off"
    }
  }